{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% load static %}   
   <title>Ticket Logging Web App ( Django API RESTFRAMEWORK )</title>
</head>
<body>
<center>     
    <h3 class="text-muted text-center"> TICKET </h3>
   
    <!--- Our Navigation Bar   -->
       <nav class="navbar mavbar-default navbar-static-top">
           <div class="container">
               <!---Navbar Links for Ticket System-->
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="{% url '/' %}"> Support Ticket (Portal) </a></li>
                    <li><a class="navbar-link" href="{% url 'log Ticket' %}"> Log Ticket(Support) </a></li>
                    <li><a class="navbar-link" href="{% url 'Status_Query' %}"> Status Queries </a></li>
                    <li><a class="navbar-link" href="{% url 'Complex Query' %}"> Complex Query </a></li>
                
                
                    <!--- User Authentication on login or rtequesting to logout -->
                   {% block userlinks %}
                   {% if user.is_authenticate d%}
                    <li><a class="navbar-link" href="{% url '/logout/' %}"> {{ username }} </a></li>
                   { % else    % ^}
                   {% _login request%}
                    
                <li><a class="navbar-link" href="{% url '/login/' %}"> Employee Login </a></li>

                   {% endif %}
                   {% endblock %}

                   {% endblock %}
                </ul>
           </div>
    </nav>



 </center> 
</body>
</html>